<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <title><%= Title %></title>
</head>
<body>
    <nav>
    <ul>
        <li><a href="/">На главную</a></li>
        <li><a href="/edit">Редактирование</a></li>
    </ul>
</nav>
<h1><%= Title.replace(/.json/, '') %></h1>
<pre class="article-text">
    <% if (ArticleObj.ImgName){ %> <img class= "article-img"src="/public/images/<%= ArticleObj.ImgName %>"> <% } %>
    Глава 1: <%= ArticleObj.FirstChapter.titleChapter1 %>
    <%= ArticleObj.FirstChapter.textChapter1 %>
    Глава 2: <%= ArticleObj.SecondChapter.titleChapter2 %>
    <%= ArticleObj.SecondChapter.textChapter2 %>
</pre>
</body>
</html>