<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Добавление статьи</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<% include blocks/nav.ejs %>
<div class="error"><%= (msg) !== 'undefined' ? msg : ''  %></div>
<form class="add-form" action="/edit" method="post" enctype="multipart/form-data" autocomplete="off">
    <input value="<%= data.articleTitle %>" placeholder="Введите название статьи" autofocus required class="title" type="text" name="title">
    <input value="<%= data.FirstChapter.titleChapter1 %>" placeholder="Введите название первой главы" autofocus required class="title" type="text" name="titleChapter1">
    <textarea placeholder="Введите текст первой главы" required name="textChapter1"  cols="30" rows="10"><%= data.FirstChapter.textChapter1 %></textarea>
    <input  value="<%= data.SecondChapter.titleChapter2 %>" placeholder="Введите название второй главы" autofocus required class="title" type="text" name="titleChapter2">
    <textarea placeholder="Введите текст второй главы" required name="textChapter2"  cols="30" rows="10"><%= data.SecondChapter.textChapter2 %></textarea>
    <input placeholder="Введите пароль" required name="password" type="password" name="password">
    <p>Старое изображение удалиться</p>
    <input placeholder="Вставьте изображение" name="img" type="file">
    <div class="g-recaptcha" data-sitekey="6Ldo5nMUAAAAAD4J-vdtpxtlQWplkszaT1T2q-yF"></div>
    <button type="submit">Редактировать</button>
</form>
</body>
</html>