<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Blog</title>
</head>
<body   >
<section class="article-list">
    <% titleName.forEach((title) => { %>
        <h3><a class="article_link"href="/articles/<%= title %>"> <%= title.replace(/.json/, '') %> </a></h3>
    <% }); %>
</section>
<section class="control">
    <h3><a class="add_link"href="/add">Добавить статью</a></h3>
    <h3><a class="del_link"href="/del">Удалить статью</a></h3>
</section> 
</body>
</html>