body{
    background: #d3ddff;
    display: flex;
    flex-direction: row;
}
.article-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid rgb(197, 57, 143);
    margin: 40px ;
    padding: 20px;
    align-self: center;
    max-width: max-content;

}
h3 {
    min-width: 300px;
    padding: 10px;
    align-self: center;  

}
.article_link {
    border: 2px solid darkgreen;
}
.article-list a {
    color: mediumslateblue;
}
.control {
    width: max-content;
    margin: 40px ;
}
.control h3{
    border: 3px solid rgb(201, 65, 65);

}

h1{
    margin: 10px 0 15px 20px;
}
.article-text{
    font-size: 20px;
    line-height: normal;
    margin: 10px;
}

li{
    font-size: 20px;
    list-style-type: none;
}
.add-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 30px;
}
.add-form .title{
    margin-bottom: 10px;
}
.article-img{
    height: 200px;
    width: 200px;
}
.add_link{
    color: rgb(83, 180, 83);
}
.del_link{
    color: rgb(228, 112, 112);
}